.logo{
    height: 5rem;
}
.cardBodyDark {
    background-color: hsl(0, 0%, 33%);
    margin-bottom: 3px;
    text-align: center;
}

.cantCarrito {
    position: relative;
    left: 15%;
}

.darkMode {
    background-color: black;
    color: gainsboro;
}
